<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible">
    <title>EMS: Employee Management System</title>
    <link rel="dns-prefetch" href="//fonts.gstatic.com">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Nunito">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/assets/css/admin-style.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/hr-style.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/hover-min.css">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <script type="text/javascript">
      function EmployeeDetails(members, name){
        $('.modal-title').html(name+" Department");
       $('.modal-body').html(members[0]);
      }

  </script>  
    <!-- <style>
      .wholenav{
    background-color: black!important;
    
      }
    </style> -->
    </head>

    <body>
            <nav class="navbar fixed-top navbar-expand-lg navbar-light wholenav" id="navbar-changes">
               
                    <%if(user.user_type==2){%><a class="oner" style="text-decoration:none; color:white" href="#" onclick="openSlideMenu()"><i class="fas fa-bars"></i></a><%}%>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                    </button>
                    </a>
                  
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav ml-auto" id="custom-move">
                        <li class="nav-item active hvr-sweep-to-top">
                          <a class="nav-link" style="text-decoration:none; color:white" href="/hr/dashboard">Dashboard <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item dropdown hvr-sweep-to-top dropdown-slide dropdown-hover">
                          <a class="nav-link" id="navbarDropdownMenuLink" data-toggle="dropdown" style="text-decoration:none; color:white" href="#"><div class="notifications"><i class="far fa-bell fa-1x"></i><span><%=counter%></span></div>Notificatons</a>
                          <div class="dropdown-menu dropdown-menu-center" aria-labelledby="navbarDropdownMenuLink">
                            <%for(var i=0; i< notifications.length; i++){
                                if(notifications[i].TypeID==3){%>
                                 <a href="/admin/viewleavereq/<%=notifications[i].id%>" class="dropdown-item"><i class="fas fa-sign-out-alt"></i><div>Leave Request by <%=notifications[i].Sender.name%></div><hr></a>
                                <%}
                            }%>
                          </div>
                        </li>
                        <%if(user.user_type==2){%>
                          <li class="nav-item dropdown hvr-sweep-to-top dropdown-slide dropdown-hover">
                              <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" style="text-decoration:none; color:white" href="#"><div class="notifications"><img src="../assets/img/staff-icon.png" width="70%"/></div><%=user.name%></a>
                              <div class="dropdown-menu dropdown-menu-center" aria-labelledby="navbarDropdownMenuLink">
                                  <a class="dropdown-item" href="/hr/company_profile">Company Profile</a><hr>
                                  <a class="dropdown-item" href="/hr/messages">Messages</a><hr>
                                  <a class="dropdown-item" href="/logout">Logout</a>
                              </div>
                            </li>
                          <%}else if(user.user_type==0){%>
                            <li class="nav-item dropdown hvr-sweep-to-top dropdown-slide dropdown-hover">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" style="text-decoration:none; color:white" href="#"><div class="notifications"><img src="../assets/img/staff-icon.png" width="70%"/></div><%=user.name%></a>
                                <div class="dropdown-menu dropdown-menu-center" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="/admin/company_profile">Company Profile</a><hr>
                                    <a class="dropdown-item" href="/admin/messages">Messages</a><hr>
                                    <a class="dropdown-item" href="/logout">Logout</a>
                                </div>
                              </li>
                              <%}%>
                    </div>
                  </nav><br><br>
                  <div class="navbar navbar-dark bg-dark ewk text-white"">
                      
                        <ul>
                          <li class="nav-item">Home /</li>
                         <%if(user.user_type==2){%><li class="nav-item">H.R.O /</li><%}else if(user.user_type==0){%><li class="nav-item">Admin /</li><%}%>
                          <li class="nav-item">Dashboard</li>
                        </ul>
                     
                    </div><%if(user.user_type==2){%>
                    <div id="side-menu" class="side-nav for_listgroup">
                            <a href="/hr/dashboard"><i class="fas fa-home"></i> Dashboard</a>
                            <a href="#"><i class="fas fa-clipboard-list"></i> Attendance</a>
                            <a href="/hr/viewleave">Leave</a>
                            <a href="/hr/staffs"><i class="fas fa-user"></i> Employees</a>
                            <a href="/hr/payroll-system">Payroll</a>
                            <a href="/hr/departments">Departments</a>
                            <a href="/hr/projects">Projects</a>
                        </div><%}%>
                  <br/><br/><br/><br/>
              <div class="all">
                  

                  <section id="main">
                      <div class="container">
                          <div class="row">
                              <div class="col-md-3">
                                <div class="list-group">
                                    <div class="hold-image" style="margin-left:30px">
                                       <%if(user.user_type==2){%><img src="<%=employee.profilephoto%>"/><%}else if(user.user_type==0){%><img src="../<%=company.company_logo%>"/><%}%>
                                    </div>
                                    <div class="company-name">
                                        Name: <%=user.name%>
                                    </div>
                                    <div class="role">
                                       Mail: <%=user.email%>
                                    </div>
                                    <div class="department">
                                        Username: <%=user.username%>
                                    </div>
                                  </div>
                              </div>
                              <div class="col-md-9">
                                  <div class="container">
                                      <%if(user.user_type==0){%>
                                        <a href="/admin/dashboard" style="text-decoration: none">Dashboard</a>
                                        <%}else if(user.user_type==2){%>
                                            <a href="/hr/dashboard" style="text-decoration: none">Dashboard</a>
                                            <%}%>
                                  </div>
                                <div class="card">
                                  <h5 class="card-header text-white text-center">Department-><%=department.name%></h5>
                                  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                      <div class="modal-dialog" role="document">
                                        <div class="modal-content for_listgroup">
                                          <div class="modal-header">
                                            <h5 class="modal-title text-white" id="exampleModalLabel">Assign Head of Department</h5>
                                            <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                            </button>
                                          </div>
                                          <div class="modal-body text-white">
                                          </div>
                                          <div class="modal-footer">
                                            <button type="button" class="btn btn-outline-info" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-outline-info"><a class="assign" style="text-decoration: none">Assign</a></button>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  <div class="card-body">
                                        <div class="dept-name text-white">
                                            Department Name: <%=department.name%><br>
                                            Number of Staffs in department: <%=employees.length%><br>
                                            <%if(hod.name==undefined){%>
                                                Head of Department: <button class="btn btn-outline-info" type="button" onclick="showList()">Assign</button>
                                                <%}else{%>
                                            Head of Department: <%=hod.name%>
                                            <%}%>
                                            <div class="employee_list" hidden>
                                                <ul class="list-group">
                                                    <%for(var s=0; s< employees.length; s++){%>
                                                    <li style="list-style: none"><button class="btn btn-link" style="text-decoration: none" onclick="showModal('<%=employees[s].id%>', '<%=employees[s].name%>')"data-toggle="modal" data-target="#exampleModal"><%=employees[s].name%></button> </li>
                                                    <%}%>
                                                </ul>
                                            </div>
                                        </div><br><br>

                                        <div class="row">
                                            <div class="col-md-8">
                                                <h5 class="card-header text-white text-center">Operations</h5>
                                                <div class="card-body text-white">
                                                    <div class="row">
                                                        <%if(user.user_type==0){%>
                                                          <div class="col-md-4">
                                                            <a href="/admin/addstaff<%=department.id%>" style="text-decoration: none; color:#fff">
                                                                <div class="card shadow">
                                                                    <i class="fas fa-user-tie" style="margin: 0 auto; padding-top: 5px; color: #fff"></i>
                                                                  <h5 class="card-title" style="margin: 0 auto;">Add Staff</h5>
                                                                  <h6 class="card-text" style="margin: 0 auto"></h6>
                                                                    </div>
                                                            </a>
                                                        </div>

                                                        <div class="col-md-4">
                                                          <a href="/admin/projects?<%=department.id%>" style="text-decoration: none; color:#fff">
                                                              <div class="card shadow">
                                                                  <i class="fas fa-project-diagram" style="margin: 0 auto; padding-top: 5px; color: #fff"></i>
                                                                <h5 class="card-title" style="margin: 0 auto;">View Projects</h5>
                                                                <h6 class="card-text" style="margin: 0 auto"></h6>
                                                                  </div>
                                                          </a>
                                                      </div><%}else if(user.user_type==2){%>
                                                        <div class="col-md-4">
                                                            <a href="/hr/addstaff<%=department.id%>" style="text-decoration: none; color:#fff">
                                                                <div class="card shadow">
                                                                    <i class="fas fa-user-tie" style="margin: 0 auto; padding-top: 5px; color: #fff"></i>
                                                                  <h5 class="card-title" style="margin: 0 auto;">Add Staff</h5>
                                                                  <h6 class="card-text" style="margin: 0 auto"></h6>
                                                                    </div>
                                                            </a>
                                                        </div>

                                                        <div class="col-md-4">
                                                          <a href="/hr/projects?<%=department.id%>" style="text-decoration: none; color:#fff">
                                                              <div class="card shadow">
                                                                  <i class="fas fa-project-diagram" style="margin: 0 auto; padding-top: 5px; color: #fff"></i>
                                                                <h5 class="card-title" style="margin: 0 auto;">View Projects</h5>
                                                                <h6 class="card-text" style="margin: 0 auto"></h6>
                                                                  </div>
                                                          </a>
                                                      </div>
                                                        <%}%>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                  </div>
                                </div>
                                <div class="container">
                                    <a href="/admin/adddepts" style="float: right; text-decoration: none; color: white">Create Department</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </section>
                  </div>
                  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
                  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
                  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
                  <script type="text/javascript">
                    function showList(){
                        $('.employee_list').removeAttr('hidden');
                    }

                    function showModal(employee_id, employee_name){
                        $('.modal-body').html("Are you sure you want to assign "+employee_name+" as the Head of Department?");
                        $('.assign').attr("href","/hr/assignHOD/"+employee_id);
                    }
                    function openSlideMenu(){
                          $('#side-menu').toggleClass('open');
                      }

                </script>
                </body>
