<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible">
    <title>EMS: Employee Management System</title>
    <link rel="dns-prefetch" href="//fonts.gstatic.com">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Nunito">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/assets/css/admin-style.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/hover-min.css">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light wholenav" id="navbar-changes">
               
        <a class="oner" style="text-decoration:none; color:white" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto" id="custom-move">
            <li class="nav-item active hvr-sweep-to-top">
              <a class="nav-link" style="text-decoration:none; color:white" href="/admin/dashboard">Dashboard <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown hvr-sweep-to-top dropdown-slide dropdown-hover">
              <a class="nav-link" id="navbarDropdownMenuLink" data-toggle="dropdown" style="text-decoration:none; color:white" href="#"><div class="notifications"><i class="far fa-bell fa-1x"></i><span><%=notifications.length%></span></div>Notificatons</a>
              <div class="dropdown-menu dropdown-menu-center" aria-labelledby="navbarDropdownMenuLink">
                <%for(var i=0; i< notifications.length; i++){
                    if(notifications[i].TypeID==3){%>
                     <a href="/admin/viewleavereq/<%=notifications[i].id%>" class="dropdown-item"><i class="fas fa-sign-out-alt"></i><div>Leave Request by <%=notifications[i].Sender.name%></div><hr></a>
                    <%}
                }%>
              </div>
            </li>
            <%if(user.user_type==2){%>
              <li class="nav-item dropdown hvr-sweep-to-top dropdown-slide dropdown-hover">
                  <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" style="text-decoration:none; color:white" href="#"><div class="notifications"><img src="../assets/img/staff-icon.png" width="70%"/></div><%=user.name%></a>
                  <div class="dropdown-menu dropdown-menu-center" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="/hr/company_profile">Company Profile</a><hr>
                      <a class="dropdown-item" href="/hr/messages">Messages</a><hr>
                      <a class="dropdown-item" href="/logout">Logout</a>
                  </div>
                </li>
              <%}else if(user.user_type==0){%>
                <li class="nav-item dropdown hvr-sweep-to-top dropdown-slide dropdown-hover">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" style="text-decoration:none; color:white" href="#"><div class="notifications"><img src="../assets/img/staff-icon.png" width="70%"/></div><%=user.name%></a>
                    <div class="dropdown-menu dropdown-menu-center" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/admin/company_profile">Company Profile</a><hr>
                        <a class="dropdown-item" href="/admin/messages">Messages</a><hr>
                        <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
                  </li>
                  <%}%>
          </ul>
        </div>
        
      </nav>
              <br/><br/><br/><br/>
         

              <section id="main">
                  <div class="container">
                      <div class="row">
                          <div class="col-md-3">
                            <div class="list-group">
                                <div class="hold-image">
                                    <img src="/assets/img/staff-icon.png" width="200" height="200"/>
                                </div>
                                <div class="company-name">
                                    Name: <%=user.name%>
                                </div>
                                <div class="role">
                                   Business Type: IT
                                </div>
                                <div class="level">
                                    Company Strength: >50
                                </div>
                              </div>
                          </div>
                          <div class="col-md-9">
                            <div class="card">
                              <h5 class="card-header bg-dark text-white text-center">Welcome, <%=user.name%></h5>
                              <div class="card-body">
                                  <div class="profile-image" style="margin-left: 30%">
                                    <img src="<%=profilephoto%>" width="200"/>
                                  </div><br/>
                                  <div class="leave-details" style="margin-left: 30%">
                                      <h3>Name: <%=details.Sender.name%></h3>
                                      <h3>Basis For Leave: <%=request[0].Basis%></h3>
                                      <h3
                                      >Duration of Leave: <%=request[0].Duration%></h3>
                                      <h4>Date Requested</h4>
                                  </div><br/>
                                  <%if(request[0].Approval==undefined){%>
                                    <div class="buttons" style="margin-left: 30%">
                                      <button type="button" class="btn btn-info"><a href="/admin/accept/<%=request[0].id%>" style="text-decoration: none; color: white;">Approve</a></button>
                                      <button type="button" class="btn btn-info"><a href="/admin/reject/<%=request[0].id%>" style="text-decoration: none; color: white">Reject</a></button>
                                    </div>
                                    <%}else{%>
                                      <h4>This request has already received a Response. View Current Staffs on leave</h4>
                                      <%}%>
                              </div>
                            </div>
                          </div>
                      </div>
                  </div>
              </section>
              </div>
              <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
              <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
              <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
              </body>
